@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;600&display=swap");

:root {
    --purple-background: #8700B8;
    --green-background: #2292A4;
    --light-grey-background: #D9D9D9;
    --dark-grey-background: #3D3D3D
}

body {
    margin: 0;
    font-family: "Fira Code", monospace;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--dark-grey-background);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}